[Desktop Entry]
Type=Application
Name=Planner
GenericName=Task Planner
Comment=A keyboard-driven task planner
Keywords=task;todo;planner;checklist;reminder;
Exec=planner
Icon=planner
Terminal=false
Categories=Office;ProjectManagement;Utility;
StartupWMClass=planner
